.portal-layout {
  display: flex;
  min-height: 100vh;
}
.portal-main {
  flex: 1;
  margin-left: 264px;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.portal-content {
  flex: 1;
  overflow-y: auto;
  background-color: var(--bg-primary);
}

@media (max-width: 992px) {
  .portal-main {
    margin-left: 72px;
  }
}
